body {
  background-color: rgb(248, 234, 140, 0.3);
}

.stopwatch {
  margin: 50px auto;
  max-width: 800px;
  border: 1px solid #e1c340;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgb(248, 234, 140, 0.6);
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-top: 60px;
  font-size: 70px;
}

h3 {
  margin: 50px;
  font-size: 70px;
}

.buttons {
  text-align: center;
  margin-bottom: 100px;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  border: 1px solid #4cd7d0;
  background-color: #a4e8e0;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px;
  margin: 0 25px;
  cursor: pointer;
}

button:hover {
  background-color: #e1c340;
  border: 1px solid #f8ea8c;
  color: black;
}
